body {
	background-color: #F5DEB3;
	
}
h2 {
	color: navy;
	font-family: 'Give You Glory', cursive;
}

nav ul li { 
	list-style-type: none;
	display: inline;
	margin: 170px;
	text-decoration: none;
	font-family: 'Amatic SC', cursive;
	font-size: 30px;	
}

.pink { 
	background-color: #ff9999;
	text-align: center;
	padding: 10px;
	margin: -10px;
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
}

.middle {
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
	
}
.list {
	list-style-type: none;	
}


